@font-face {
    font-family: 'a';
    src: url('../fonts/CreatoDisplay-Thin.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'a';
    src: url('../fonts/CreatoDisplay-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'a';
    src: url('../fonts/CreatoDisplay-Black.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'a';
    src: url('../fonts/CreatoDisplay-Bold.otf') format('opentype');
    font-weight: 700;
}


@font-face {
    font-family: 'pre';
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'pre';
    src: url('../fonts/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'pre';
    src: url('../fonts/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'pre';
    src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'pre';
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-family: 'IvyPresto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/9431a58d2dabef30-s.p.woff2') format("woff2")
}

@font-face {
    font-display: swap;
    font-family: 'TWKEverett';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/c074ebc4f8a60050-s.p.woff2') format("woff2")
}

@font-face {
    font-display: swap;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/HelveticaNeue-Medium.woff2') format("woff2")
}

@font-face {
    font-display: swap;
    font-family: 'mont';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/StretchPro.otf') format("opentype")
}

@font-face {
    font-family: 'dirty';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Dirtyline36daysoftype2022.otf') format("opentype")
}