@import './fonts.css';
@import './reset.css';
@import './common.css';
/* @import './fonts/fonts.css'; */

body {
    transition: background 0.5s
}

body.light {
    background: #e6e6e6
}

body.noscroll {
    overflow: hidden;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-primary-height);
    /* background: #f4f4f4; */
    z-index: 10;
    mix-blend-mode: difference;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    visibility: hidden
}

#header .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

#header .logo {
    position: absolute;
    top: 0;
    left: 20px;
    pointer-events: auto;
    overflow: hidden;

}

#header .logo a {
    font-family: mont;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-weight: bold;
    font-size: 50px;
    transform: translateY(100%) scale(1);
    opacity: 0;
    visibility: hidden;
}

#header .logo a.none {
    opacity: 0;
    visibility: hidden;
}

#header .logo .h1-wrap .name {}

#header .logo .h1-wrap .hello,
#header .logo .h1-wrap .name {
    transition: all 0.2s;
}

#header .logo .h1-wrap:hover .hello {
    transform: translateY(-100%);
}

#header .logo .h1-wrap:hover .name {
    transform: translateY(-100%);
}

#header .menu {
    display: flex;
    gap: 20px;
    pointer-events: auto;
    margin-right: 23vw;
}

#header .menu li {}

#header .menu a {
    position: relative;
    display: block;
    line-height: 1.3;
    transition: opacity .4s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    font-size: 19px;
    font-weight: bold;
}

#header .menu a:hover {
    opacity: 0.65;
}

#header .menu a:hover:after {
    transform: translateY(0%);
}

#header .menu a span {
    display: block;
    transition: .2s ease-in-out;
    transition-property: transform;
}

#header .menu a:hover span {
    transform: translateY(-100%);
}

#header .menu a:after {
    display: block;
    transition: .2s ease-in-out;
    transition-property: transform;
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -.6em;
    transform: translateY(100%);
}

#header .about {}

#header .work {}

#header .contact {}

#footer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #fff;
    padding: 0 4vw;
}

#footer .site-info {
    display: flex;
    position: relative;
    flex: 0 0 auto;
    height: auto;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #e9e9e9;
    flex-direction: row;
    padding: 100px 0;
}

#footer .site-info .f-logo {
    display: flex;
    flex-direction: column;
}

#footer .f-logo .logo-sub {
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1.2;
}

#footer .site-info .text-tit {
    display: flex;
    flex-direction: column;
    color: #d1d1d1;
    font-size: 50px;
    font-weight: 400;
}

#footer .site-info .list-wrap {}

#footer .site-info .list-wrap .list {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    /* flex: none; */
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 22px;
    width: 310px;
    margin-top: 90px;
}

#footer .site-info .list-wrap .list .title {
    font-size: 19px;
    font-weight: bold;
}


#footer .site-info .list-wrap .list .item-wrap .item-left,
#footer .site-info .list-wrap .list .item-wrap .item-right {
    display: flex;
    flex-direction: column;
}

#footer .site-info .list-wrap .list .item-wrap a:hover {
    opacity: 0.65;
}

#footer .site-info .list-wrap .list .item-wrap a:hover:after {
    transform: translateY(0%);
}

#footer .site-info .list-wrap .list .item-wrap a {
    position: relative;
    display: block;
    line-height: 1.3;
    transition: opacity .4s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    font-size: 20px;
}

#footer .site-info .list-wrap .list .item-wrap a span {
    display: block;
    transition: .2s ease-in-out;
    transition-property: transform;
}


#footer .site-info .list-wrap .list .item-wrap a:hover span {
    transform: translateY(-100%);
}

#footer .site-info .list-wrap .list .item-wrap a:after {
    display: block;
    transition: .2s ease-in-out;
    transition-property: transform;
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -.6em;
    transform: translateY(100%);
}

#footer .site-tit {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding: 40px 0 0;
    position: relative;
    border-top: 1px solid #fff;
    font-size: 240px;
    margin-top: 40px;
    color: #6f6f6f;
}

#footer .logo-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}



#footer .logo-txt {
    font-size: 80px;
    font-weight: bold;
    line-height: 1;
    position: relative;
    z-index: 2;
    font-family: mont;
    display: flex;
    align-items: center;
    overflow: hidden;
    transform: translateY(100%);
}